html, body {
  margin: 0;
  padding: 0;
  background-color:rgb(10, 20, 29);
  background-repeat: no-repeat;
  height: 100%;
  background-attachment: fixed;
}
@font-face {
  font-family: newFont;
  src: url(NTR-Regular.ttf);
}


.botnav{
  position: relative;
  text-align: center;
   background-color: rgba(69, 103, 143, 0.192);
   font-size: 20px;
   font-family:newFont, Arial, sans-serif;
   

}

.botnav a{
   color: rgb(248, 233, 201);
   text-align: center;
   padding: 0px 30px;
   text-decoration: none;
   position: relative;
   
}
.botnav a:hover{
   background-color:rgba(56, 68, 80, 0.473);
   border-radius: 7px;
  
}
.botnav a.active {
  border-radius: 8px;
   background-color: rgba(177, 161, 110, 0.493);

}
h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  text-align: center;
 padding: 15px;
  color: white ;
  border-style: dotted;
  border-color: rgba(99, 97, 97, 0.445);
  margin: 20px 210px;
}
h2{
  font-family: newFont;
  font-size: 20px;
  text-align: center;
 
  color: white ;

}

/* reference from  https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 90px;
  
}
.column {
  flex: 25%;
  max-width: 100%;
  padding:10px;
}
.column img {
  margin-top: 20px;
  vertical-align: middle;
  width: 100%;

}@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
* {
  box-sizing: border-box;
}
.container {
  position: relative;
  
}
.theimages {
  display: none;
}
.cursor {
  cursor: pointer;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next {
  
 right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.roow:after {
  content: "";
  display: table;
  clear: both;
}
.coolumn {
  float: left;
  width: 10%;
}

.demo {
  opacity: 0.6;
}
.active,
.demo:hover {
  opacity: 1;
}





.greenhousecontainer {
  position: relative;
  width:65%;
  margin: 20px auto;
top:-120px;
}
.greenhouseimages {
  display: none;
}
.cursor {
  cursor: pointer;
}
.prev2,
.next2 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: rgba(255, 255, 255, 0.534);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next2 {
  
 right: 0;
  border-radius: 3px 0 0 3px;
}
.prev2:hover,
.next2:hover {
  background-color: rgba(175, 175, 175, 0.466);
}
.greenhouserow:after {
  content: "";
  display: table;
  clear: both;
}
.greenhousecolumn {
  float:left;
  left:30%;
position: relative;
  width: 12%;
}
#greenhousetext{
  background-color: rgba(194, 194, 194, 0.096);
  position: relative;
  top:690px;
  left: 120px;
  width: 10%; text-align: center;
  padding: 0px 10px;color: rgb(147, 156, 168);
  line-height: 22px;
}
.demo2 {
  opacity: 0.6;
}
.active,
.demo2:hover {
  opacity: 1;
}
.info{
  background-color: rgb(208, 214, 216);
  color: rgb(77, 90, 107);
  font-family:newFont;
  font-size: 23px;
  text-align: center;
  padding:30px;
}
p{
  font-family: newFont;
  color: rgb(147, 156, 168);
  text-align: left;
  font-size: 14px;
  cursor:default;
}
.reynacontainer{
  position: relative;
  margin: 0px auto;
  
}
.reynacontainer .reyna  {
  position: absolute; 
  bottom: 0; 
  background: rgba(0, 0, 0, 0.5); 
  width:75%;
  opacity: 0;
  border-radius: 13px;
  margin: 19px;
 
}
.reynacontainer:hover .reyna{
  opacity: 1;
  transition: ease 0.3s;
}